#container {
  position: absolute;
  top: 0em;
  left: 0em;
  right: 1em;
  bottom: 1em;
}
svg {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  > * {
    pointer-events: painted;
  }
}
