$selectionColor: #23c6d6;

#selectionOverlay {
  pointer-events: none;
  > * {
    pointer-events: painted;
  }

  #rubberBand,
  #anchorPoint {
    fill: transparent;
    stroke: $selectionColor;
    stroke-width: 1px;
  }

  #rubberBand {
    pointer-events: none;
    /* with pointer events enabled, the mouseup is never caught */
  }

  #anchorPoint {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    &.dragging {
      cursor: none;
    }
  }

  #handleLayer {
    #boundingRect,
    .handle rect {
      stroke: $selectionColor;
      stroke-width: 1px;
    }
    #boundingRect {
      fill: none;
    }
    .handle {
      rect {
        fill: white;
      }
      circle {
        fill: transparent;
      }
      &.nw {
        rect {
          cursor: nwse-resize;
        }
        circle {
          cursor: url('../img/nw-rotate.png') 12 12, nesw-resize;
        }
      }
      &.n {
        rect {
          cursor: ns-resize;
        }
        circle {
          cursor: url('../img/n-rotate.png') 14 9, ew-resize;
        }
      }
      &.ne {
        rect {
          cursor: nesw-resize;
        }
        circle {
          cursor: url('../img/ne-rotate.png') 12 12, nwse-resize;
        }
      }
      &.e {
        rect {
          cursor: ew-resize;
        }
        circle {
          cursor: url('../img/e-rotate.png') 9 14, ns-resize;
        }
      }
      &.sw {
        rect {
          cursor: nesw-resize;
        }
        circle {
          cursor: url('../img/sw-rotate.png') 12 12, nwse-resize;
        }
      }
      &.s {
        rect {
          cursor: ns-resize;
        }
        circle {
          cursor: url('../img/s-rotate.png') 14 9, ew-resize;
        }
      }
      &.se {
        rect {
          cursor: nwse-resize;
        }
        circle {
          cursor: url('../img/se-rotate.png') 12 12, nesw-resize;
        }
      }
      &.w {
        rect {
          cursor: ew-resize;
        }
        circle {
          cursor: url('../img/w-rotate.png') 9 14, ns-resize;
        }
      }
    }
  }
}
